@model IEnumerable<BugTracker.Models.Project>
@using BugTracker.Helpers
@using Microsoft.AspNet.Identity
@{
    var isactive = ViewBag.Archive ?? true;
    ArchiveHelper archiveHelper = new ArchiveHelper();
    var userId = User.Identity.GetUserId();
}
<div data-toggle="collapse" data-target="#demo" class="partialheader chat-room-head">
    <h3>Projects</h3>
    @if (isactive && User.IsInRole("Admin") || isactive && User.IsInRole("Project Manager") )
    {
        <a style="float: right" href=@Url.Action("Create", "Projects", null) class="btn btn-default"><i class="fa fa-plus"></i></a>
    }

</div>

    <div id="demo" class="collapse in well">
        <table class="table">

            <tr style="background-color: white; width: 100%" partialheader>
                <th style="text-align: center">
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th style="text-align: center">
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                    <th></th>
                </tr>
            @{
                int loop = 0;
                ProjectHelper projectHelper = new ProjectHelper();
            }
            @foreach (var item in Model)
            {
                <tr style="background-color: white" class="partialheader" data-toggle="collapse" data-target=".collapse@(loop)">
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td style="word-wrap: break-word">
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>

                    <td>
                        @if (User.IsInRole("Admin") ||  User.IsInRole("Project Manager"))
                        {
                            <div style="display: flex">
                                @if (projectHelper.IsUserOnProject(userId, item.Id) || User.IsInRole("Admin"))
                                {
                                    <a href=@Url.Action("Details", "Projects", new { id = item.Id }, null) class="btn btn-success btn-xs"><i class="fa fa-book"></i></a>
                                    if (User.IsInRole("Project Manager") && isactive || User.IsInRole("Admin"))
                                    {
                                    <a href=@Url.Action("Edit", "Projects", new { id = item.Id }, null) class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></a>
                                    }
                                }
                            </div>
                        }
                    </td>



                </tr>

                <tr style="text-align: center" class="collapse@(loop) collapse">
                    <td></td>
                    <td style="font-size:20px; font-weight: 200">
                        Tickets
                    </td>
                    <td></td>
                </tr>
                <tr class="collapse@(loop) collapse">
                    <td>
                        Title
                    </td>
                    <td>
                        Number
                    </td>
                    <td></td>
                </tr>

                foreach (var ticket in archiveHelper.ProjectsActiveTickets(item.Id))
                {
                    <tr style="background-color: #F5F5F5" class="collapse@(loop) collapse well">
                        <td>
                            @Html.DisplayFor(modelItem => ticket.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => ticket.Id)
                        </td>

                        <td>
                            @{
                                var isuseronproject = projectHelper.IsUserOnProject(userId, ticket.ProjectId);
                                var isuseronticket = userId == ticket.AssignedToUserId || userId == ticket.OwnerUserId;
                                var ticketarchived = ticket.TicketStatus.Name == "Finished" || ticket.TicketStatus.Name == "Removed";
                            }
                            <div style="display: flex">
                                @if (User.IsInRole("Admin") || User.IsInRole("Project Manager") && isuseronproject || isuseronticket)
                                {
                                    <a href=@Url.Action("Details", "Tickets", new { id = item.Id }, null) class="btn btn-success btn-xs"><i class="fa fa-book"></i></a>
                                    if (!ticketarchived)
                                    {
                                        <a href=@Url.Action("Edit", "Tickets", new { id = item.Id }, null) class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></a>
                                    }
                                }
                            </div>
                        </td>
                    </tr>
                }

                loop++;
            }

        </table>
    </div>
