@model IEnumerable<BugTracker.Models.Ticket>
@using Microsoft.AspNet.Identity
@using BugTracker.Helpers
@{
    ProjectHelper projectHelper = new ProjectHelper();
}
@{
    ViewBag.Title = "Index";
}

<div data-toggle="collapse" data-target="#ticcolapse" class="partialheader chat-room-head">
    <h3>Tickets</h3>
    @if (User.IsInRole("Submitter"))
    {
        <a style="float: right" href=@Url.Action("Create", "Tickets", null) class="btn btn-default"><i class="fa fa-plus"></i></a>
    }

</div>

<div id="ticcolapse" class="collapse in well">
    <table class="table">
        <thead>
            <tr>
                <th style="text-align: center">
                    @Html.DisplayNameFor(model => model.Project.Name)
                </th>
                <th style="text-align: center">
                    @Html.DisplayName("Priority")
                </th>
                <th style="text-align: center">
                    @Html.DisplayName("Status")
                </th>
                <th style="text-align: center">
                    @Html.DisplayName("Type")
                </th>
                <th style="text-align: center">
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th></th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td style="text-align: center">
                        @Html.DisplayFor(modelItem => item.Project.Name)
                    </td>
                    <td style="text-align: center">
                        @Html.DisplayFor(modelItem => item.TicketPriority.Name)
                    </td>
                    <td style="text-align: center">
                        @Html.DisplayFor(modelItem => item.TicketStatus.Name)
                    </td>
                    <td style="text-align: center">
                        @Html.DisplayFor(modelItem => item.TicketType.Name)
                    </td>
                    <td style="text-align: center">
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @{
                            var userId = User.Identity.GetUserId();
                            var isuseronproject = projectHelper.IsUserOnProject(userId, item.ProjectId);
                            var isuseronticket = userId == item.AssignedToUserId || userId == item.OwnerUserId;
                            var ticketarchived = item.TicketStatus.Name == "Finished" || item.TicketStatus.Name == "Removed";
                        }
                        <div style="display: flex">
                            @if (User.IsInRole("Admin") || User.IsInRole("Project Manager") && isuseronproject || isuseronticket)
                            {
                                <a href=@Url.Action("Details", "Tickets", new { id = item.Id }, null) class="btn btn-success btn-xs"><i class="fa fa-book"></i></a>
                                if (!ticketarchived || User.IsInRole("Admin"))
                                {
                                <a href=@Url.Action("Edit", "Tickets", new { id = item.Id }, null) class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></a>
                                }
                            }
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>