@model BugTracker.Models.ApplicationUser

@{
    ViewBag.Title = "Details";
}

<div>
    <div class="well row">
        <div style="display: flex">
            <h4>@Html.DisplayFor(model => model.UserName)</h4>
            <h5 style="margin-left: auto">@ViewBag.Role</h5>
        </div>
        <hr />
        <div class="col-md-4">
            <p>First Name: @Html.DisplayFor(model => model.FirstName)</p>
            <p>Last Name: @Html.DisplayFor(model => model.LastName)</p>
            <p>Email: @Html.DisplayFor(model => model.Email)</p>
            @Html.Partial("_ShowProjects", Model.Projects.ToList())

            <p>@Html.ActionLink("Change Password", "ResetPassword", "Account")</p>
            <p>@Html.ActionLink("Edit", "Edit", new { id = Model.Id })</p>
        </div>

    </div>

</div>



