@model BugTracker.Models.DashboardMod

@using BugTracker.Helpers
@{
    ViewBag.Title = "Home Page";
}

<div style=" text-align: center" >
    @if (User.IsInRole("Admin") || User.IsInRole("Project Manager"))
    {
        {
            var stat = "";
            if (User.IsInRole("Admin"))
            {
                stat = "Admin";
            }
            else
            {
                stat = "Project Manager";
            }

            <h1>@Html.Raw(stat) Portal</h1>
        }
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    @Html.Partial("_ShowUsers", Model.Users.ToList())
                    <div style="margin-top: 10px">
                        @Html.Partial("_ShowTickets", Model.Tickets.ToList())
                    </div>
                </div>
                <div class="col-md-4">
                    @Html.Partial("_ShowProjects", Model.Projects.ToList())
                </div>

            </div>
        </div>
    }
    else if (User.IsInRole("Submitter") || User.IsInRole("Developer"))
    {
                    var stat = "";
            if (User.IsInRole("Developer"))
            {
                stat = "Developer";
            }
            else
            {
                stat = "Submitter";
            }

            <h1>@Html.Raw(stat) Portal</h1>
        <div class="col-md-8">
            @Html.Partial("_ShowTickets", Model.Tickets.ToList())
        </div>
        <div class="col-md-4" style="margin-top: 10px">
            @Html.Partial("_ShowProjects", Model.Projects.ToList())
        </div>

    }
    else if (Request.IsAuthenticated)
    {
        <h1>Welcome</h1>
        <h3>Please standby you will be assigned a role shortly</h3>
    }
    else
    {
        <div>
            <h1>Welcome</h1>
            <h3>Welcome Please Login</h3>
        </div>
        <div class="col-md-3">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-login", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.Hidden("Email", "adamb5441@gmail.com")
                @Html.Hidden("Password", "Abc!1234")
                @Html.Hidden("RememberMe", false)
                <div>
                    <div class="custom-box">
                        <div class="servicetitle">
                            <h4>Admin Login</h4>
                            <hr>
                        </div>
                        <div class="icn-main-container">
                            <div>
                                <span class="icn-container">
                                    <i class="fa fa-gears"></i>
                                    @*<img style="height: 6vh" src="~/Images/admin.png" />*@

                                </span>
                            </div>
                        </div>
                        <p>Role includes</p>
                        <ul class="pricing">
                            <li>Delete content</li>
                            <li>Assign users to roles, tickets and projects</li>
                            <li>Updates content</li>
                        </ul>
                        <button class="margin-sm padding-sm btn btn-theme">Admin Login</button>
                    </div>
                </div>
            }
        </div>
        <div class="col-md-3">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-login", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.Hidden("Email", "manager@mailinator.com")
                @Html.Hidden("Password", "Abc!123")
                @Html.Hidden("RememberMe", false)
                <div>
                    <div class="custom-box">
                        <div class="servicetitle">
                            <h4>Manager Login</h4>
                            <hr>
                        </div>
                        <div class="icn-main-container">
                            <div>
                                <span class="icn-container">
                                    <i class="fa fa-group"></i>
                                    @*<img style="height: 6vh" src="~/Images/admin.png" />*@

                                </span>
                            </div>
                        </div>
                        <p>Role includes</p>
                        <ul class="pricing">
                            <li>Assign users to tickets and project</li>
                            <li>Update your project and tickets</li>
                            <li>Update tickets in your project</li>
                        </ul>
                        <button class="margin-sm padding-sm btn btn-theme">Manager Login</button>
                    </div>
                </div>
            }
        </div>
        <div class="col-md-3">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-login", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.Hidden("Email", "dev@mailinator.com")
                @Html.Hidden("Password", "Abc!123")
                @Html.Hidden("RememberMe", false)
                <div>
                    <div class="custom-box">
                        <div class="servicetitle">
                            <h4>Developer Login</h4>
                            <hr>
                        </div>
                        <div class="icn-main-container">
                            <div>
                                <span class="icn-container">
                                    <i class="fa fa-keyboard-o"></i>
                                    @*<img style="height: 6vh" src="~/Images/admin.png" />*@

                                </span>
                            </div>
                        </div>
                        <p>Role includes</p>
                        <ul class="pricing">
                            <li>Update tickets assigned to you</li>
                            <li>Change your own profile</li>
                            <li>Get notified of changes made to your ticket</li>
                        </ul>
                        <button class="margin-sm padding-sm btn btn-theme">Developer</button>
                    </div>
                </div>
            }
        </div>

        <div class="col-md-3">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-login", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.Hidden("Email", "sub@mailinator.com")
                @Html.Hidden("Password", "Abc!123")
                @Html.Hidden("RememberMe", false)
                <div>
                    <div class="custom-box">
                        <div class="servicetitle">
                            <h4>Submitter Login</h4>
                            <hr>
                        </div>
                        <div class="icn-main-container">
                            <div>
                                <span class="icn-container">
                                    <i class="fa fa-ticket"></i>
                                    @*<img style="height: 6vh" src="~/Images/admin.png" />*@

                                </span>
                            </div>
                        </div>
                        <p>Role includes</p>
                        <ul class="pricing">
                            <li>Submit tickets</li>
                            <li>update to your ticket</li>
                            <li>
                                <br /><br />
                            </li>
                        </ul>
                        <button class="margin-sm padding-sm btn btn-theme">Admin Login</button>
                    </div>
                </div>
            }
        </div>
    }

</div>