@using BugTracker.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}

<div id="login-page">
        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-login", role = "form" }))
        {
            @Html.AntiForgeryToken()

            <h2 class="form-login-heading ">sign in now</h2>
            <div class="login-wrap">

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    Email
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    Password
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>


                @Html.CheckBoxFor(m => m.RememberMe)
                @Html.LabelFor(m => m.RememberMe)
                <span class="pull-right">
                    <a data-toggle="modal" href=@Url.Action("ForgotPassword", "Account")> Forgot Password?</a>
                </span>
                <button class="btn btn-theme btn-block" type="submit"><i class="fa fa-lock"></i> SIGN IN</button>
                <hr>

                @*<div class="login-social-link centered">
                        <p>or you can sign in via your social network</p>
                        <button class="btn btn-facebook" type="submit"><i class="fa fa-facebook"></i> Facebook</button>
                        <button class="btn btn-twitter" type="submit"><i class="fa fa-twitter"></i> Twitter</button>
                    </div>*@
                <div class="registration">
                    Don't have an account yet?<br />
                    @Html.ActionLink("Create an account", "Register")
                </div>
            </div>
            <!-- Modal -->

            <!-- modal -->
        }
</div>

<script src="~/Scripts/jquery.backstretch.min.js"></script>
@section Scripts {
    <script>
        $.backstretch("img/login-bg.jpg", {
            speed: 500
        });
    </script>
    @Scripts.Render("~/bundles/jqueryval")
}